{% extends "web/base.html" %}
{% load static from staticfiles %}

{% block mylink %}

    <link rel="stylesheet" type="text/css" href="{% static 'web/css/member.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/member-app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/cart-app.css' %}">

{% endblock %}

{% block mainbody %}

<!-- 主内容区域 -->
    <div class="mainbody order">
        <div class="container">
            <!-- 面包屑导航 -->
            <div class="crumbs ">
                <ol class="breadcrumb">
                    <li class="hidden-xs hidden-sm"><a href="{% url 'index' %}">首页</a></li>
                    <li class="active"><a href="{% url 'vipuser' %}">个人中心</a></li>
                </ol>
            </div><!-- 面包屑导航 E-->
            
            <div class="main clearfix">
                <!-- 左侧导航 -->
                <div class="left-nav f-fl hidden-xs hidden-sm">
                    <div class="nav-main">
                        <a href="{% url 'viporders' %}" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>订单中心</a>
                        <a href="{% url 'viporders' %}" class="ml" >我的订单</a>
                        <a href="#" class="ml " >我的回购单</a>
                        <a href="#" class="ml " >我的意外保</a>
                        <a href="{% url 'vipuser' %}" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true" ></span>个人中心</a>
                        <a href="#" class="ml " >地址管理</a>
                        <a href="#" class="ml " >我的收藏</a>
                        <a href="#" class="ml " >消息提醒</a>
                        <a href="#" class="ml ">建议反馈</a>
                    </div>
                </div><!-- 左侧导航 E-->
                <!-- 右侧导航 E-->
                <div class="cart-merchant-list">
                    <div class="cart-merchant text-center" style="font-size:30px;color:#fc0;line-height:100px;">
                          {{ info }}
                    </div>
                </div><!-- 下订单提示信息 E-->
            </div>
        </div>
    </div>


{% endblock %}